<div *ngIf="isFetchingDatacenters">Loading datacenters...</div>
<div *ngIf="datacenters?.length">
  <h3>Datacenters</h3>
  <div class="grid grid-pad">
    <div *ngFor="#dc of datacenters" class="col-1-4" (click)="selectDatacenter(dc)">
      <div class="module">
        <h4>{{dc}}</h4>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isFetchingNodes">Loading nodes...</div>
<div *ngIf="nodes?.length">
  <h3>Nodes</h3>
  <div class="grid grid-pad">
    <div *ngFor="#dcn of nodes" class="col-1-4" (click)="gotoNode(dcn.name)">
      <div class="module">
        <h4>{{dcn.name}}</h4>
        <h6>{{dcn.address}}</h6>
      </div>
    </div>
  </div>
</div>
