<div *ngIf="node">
  <h2>{{node.name}} Details</h2>
  <div>
    <label>name:</label> {{node.name}}
  </div>
  <div>
    <label>address:</label> {{node.address}}
  </div>

  <h2>Services</h2>
  <ul class="services">
    <li *ngFor="#s of node.services">
      <h3>{{s.Service}}</h3>
      <div>
        <label>id:</label> {{s.ID}}
      </div>
      <div>
        <label>address:</label> {{s.Address}}
      </div>
      <div>
        <label>port:</label> {{s.Port}}
      </div>
      <div>
        <label>tags:</label> {{s.Tags}}
      </div>
    </li>
  </ul>

  <h2>Health Checks</h2>
  <ul class="checks">
    <li *ngFor="#c of node.checks">
      <h3>{{c.Name}}</h3>
      <div>
        <label>check id:</label> {{c.CheckID}}
      </div>
      <div>
        <label>service:</label> {{c.ServiceID}} {{c.ServiceName}}
      </div>
      <div>
        <label>status:</label> {{c.Status}}
      </div>
      <div>
        <label>output:</label> <code>{{c.Output}}</code>
      </div>
      <div>
        <label>notes:</label> {{c.Notes}}
      </div>
    </li>
  </ul>

  <button (click)="goBack()">Back</button>
</div>
