.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.images {
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 50em;
}

.images li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0em;
  min-height: 1.6em;
  border-radius: 4px;
}

.images li:last-child {
  margin-bottom: 0;
}

.images li:hover {
  color: #607D8B;
  background-color: #EEE;
  left: .1em;
}

.images li.selected:hover {
  color: white;
}

.images .text {
  position: relative;
  top: -3px;
}

.images .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0em 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0px 0px 4px;
}

.images code {
  margin-left: .8em;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

